# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Super-Mate-Adventures.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Carrera de VideoJuegos\CositasHaciendose\Super-Mate-Adventures\.idea\.idea.Super-Mate-Adventures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
